
<style>

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}


tr:nth-child(even){
  background-color: #f2f2f2
  }
i{
  margin-left: 5px;
  margin-right: 10px;
  
}



</style>
  <div class="toppaneleft" >
        <a class="active" href="#home" style="color:white;text-decoration:none"><i class="glyphicon glyphicon-user"></i>Backbench</a>

     </div>
 <div class="toppaneright" style="margin-bottom:10px">
   <a href="#about" style="text-decoration:none"><i class="fa fa-home" style="font-size:28px;float: left;color:white;margin-left: 5px"></i><span style="margin-left: 50px;color:white">Home</span></a>
 </div>

    <div class="leftpane">
      <div class="btn-group">
     <button ng-click="mybench1()"><i class="fa fa-home" style="font-size:28px;float: left"></i>Home  <i style="font-size:24px;float: right" class="fa">&#xf138;</i></button>
     <button ng-click="mybench()"><i style="font-size:32px;float: left" class="material-icons">&#xe87b;</i>My Bench</button>
     <button ng-click="ShowHide()"><i style="font-size:24px;float: left" class="fa">&#xf15b;</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shared With Me</button>
    </div>
   </div>
   <div ng-show="IsVisible">
    <div class="middlepane">
            <h3 style="margin-left: 20px"> Account Usage at {{myDate | date : 'dd-MM-yyyy HH:mm'}}</h3>
    <section class="sec">
            <div class="invc">
             <h6><i class="material-icons">&#xe335;</i> Invocation Count </h6>
             <hr>
             {{invocations.invocations}}
             
           </div>
 
 
           <div class="memo">
               <h6><i class="material-icons" style="color:red">&#xe322;</i>Memory Usage</h6>
               <hr>
               {{memory.memory}}  Bytes
               
             </div>
           </section>
           
           <section class="sec">
          <div class="pass">
            
            <table>
              <thead><span> Passed Request </span></thead><hr>
              <tr>
                <th>Handler</th> 
                <th>Bench</th>
                <th>Hit Count</th>
                <th>Avg.Network Time(ms)</th>
              </tr>
              <tr ng-repeat="dat in requests_dashboard">
                <td>{{dat.handler}}</td>
                <td>{{dat.benchId}}</td>
                <td>{{dat.total}}</td>
                <td>{{dat.avgNetworkTime}}</td>
              </tr>
               
 
            </table>
          </div>
         </section>
 
         
 
                      
           <section class="sec">
               <div class="fail">
                 <span>Failed Request</span><hr>
                 <table>
                   <tr>
                     <th>Handler</th> 
                     <th>Bench</th>
                     <th>Hit Count</th>
                     <th>Avg.Network Time(ms)</th>
                   </tr>
                   <tr>
                     <td style="background-color: none">No requests in this Time Interval</td>
                     
                   </tr>
                    
      
                 </table>
               </div>
              </section>
 
 
 
 
   </div>
 
   <div class="rightpane">
 
    <i style="font-size:24px" class="fa">&#xf1da;</i> Account Activities
     
    <hr>
      <div ng-repeat="data in activities">
       <span>{{data.authId}} </span>  <span style="color:black"> {{data.action}} </span><span>{{data.objectName}}</span><span style="color:black">  in </span><span>{{data.benchName}} </span>
       <hr/>
      </div>
          
    
  </div> 
 
 </div>
</div>
<div ng-hide="IsVisible" style="text-align: center;padding: 5%">
  <label> Benches shared with you will appear here</label> 
</div>
 
 